*
{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: black;
    line-height: 50px;
}
h2{
    color: aliceblue;
    text-align: center;
    font-size: 15px;                             
}
.menubar
{
    height: 70px;
    width: 100%;
    background-color: white; 
    border: 1px solid black;
    display: flex;
}
.tshop {
    height: 70px;
    width: 12%;
    background-color: #D6FF38;
    
}
.new{
    height: 65px;
    width: 25%; 
    line-height: 65px;
    text-align: center;
    color: black;
    transition: 0.4s;
}
.new a{
    text-decoration:  none;
    font-size: 20px; 
    color: black;
}
.new:hover{
    background-color: black;
}
.new:hover a{
  color:  #D6FF38;
}
.women{
    height: 65px;
    width: 25%; 
    line-height: 65px;
    text-align: center;
    transition: 0.4s;
    
}
.women a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.women:hover{
    background-color: black;
}
.women:hover a{
  color:  #D6FF38;
}
.man{
    height: 65px;
    width: 25%; 
    line-height: 65px;
    text-align: center; 
    transition: 0.4s;
}
.man a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.man:hover{
    background-color: black;
}
.man:hover a{
  color:  #D6FF38;
}
.login{
    height: 65px;
    width: 25%; 
    line-height: 65px;
    text-align: center; 
    font-size: 25px;
   
}
.login a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.menu1{
    height: 70px;
    width: 12%;
    background-color: #D6FF38;
    line-height: 70px;
    border: 1px solid black;
}
.menu1 h2{
    color: black;
    font-size: 25px;
}
.menu2{
    height: 70px;
    width: 88%;
    display: flex;
}
.menu3{
    height: 70px;
    width: 60%;
    margin-left: 40%;
    display: flex;
    align-items: center;
}
.text
{
    height: 200px;
    width: 100%;
}
.text2 {
    padding-top: 3%;
}
.text2 h2 {
    font-family: arial;
    font-size: 60px;
    color: black;
}
.text2 p {
    height: 40px;
    width: 300px;
    margin: auto;
    font-family: arial;
    font-size: 16px;
    margin-top: 10px;
    line-height: 40px;
}
.image3{
   width: 100%;
   height: 448px;
   display: flex;
   justify-content: space-between;
}
.img-1
{
    height: 448px;
    width: 357px;
    background-color: #D6FF38;
    background-image: url('images/img1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-1 h3
{   
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 400px;
}
.img-2
{
    height: 448px;
    width: 726px;
    background-color: #D6FF38;
    background-image: url('images/img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-2 h3
{   
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    margin-top: 400px;
}
.img-3
{
    height: 448px;
    width: 357px;
    background-color: #D6FF38;
    background-image: url('images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-3 h3
{   
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 400px;
}
.img-1:hover
{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(146, 169, 43, 0.476)),url('images/img1.webp');
    visibility: visible;
}
.img-1:hover h3
{
  visibility: visible;
}
.img-2:hover
{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(146, 169, 43, 0.476)),url('images/img3.jpg');
    visibility: visible;
}
.img-2:hover h3
{
  visibility: visible;
}
.img-3:hover
{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(146, 169, 43, 0.476)),url('images/img2.jpg');
    visibility: visible;
}
.img-3:hover h3
{
  visibility: visible;
}
.newdrop{
    height: 1020px;
    width: 100%;
    /* background-color: #89c512; */
    
}
.newdrop h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 40px;
}
.photos {
    height: 410px;
    width: 85%;
    margin: auto;
    /* background-color: aqua;   */
}
.imshirt{
    display: flex;
    justify-content: space-between;
}
.imshirt1{
    height: 320px;
    width: 21%;
    background-image: url('images/t1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt2{
    height: 320px;
    width: 21%;
    background-image: url('images/t2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt3{
    height: 320px;
    width: 21%;
    background-image: url('images/t3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt4{
    height: 320px;
    width: 21%;
    background-image: url('images/t4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt1 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 130%;
    font-weight: lighter;
}
.imshirt2 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 130%;
    font-weight: lighter;
}
.imshirt3 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 130%;
    font-weight: lighter;
}
.imshirt4 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 130%;
    font-weight: lighter;
}
.photos2 {
    height: 430px;
    width: 85%;
    margin: auto;   
    /* background-color: rgb(185, 28, 28); */
}
.imshirt{
    display: flex;
    justify-content: space-between;
}
.imshirt5{
    height: 320px;
    width: 21%;
    background-image: url('images/t5.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.imshirt6{
    height: 320px;
    width: 21%;
    background-image: url('images/t6.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt7{
    height: 320px;
    width: 21%;
    background-image: url('images/t7.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt8{
    height: 320px;
    width: 21%;
    background-image: url('images/t8.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt5 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 121%;
    font-weight: lighter;
}
.imshirt5 .d{
    width: 30%;
    height: 10%;
    background-color: #0a0a0a;
    color: #D6FF38;
}
.imshirt5 .d h1{
    font-size: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: #D6FF38;
    background-color: #0a0a0a;
    padding:5px 20px;
}
.imshirt6 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 132%;
    font-weight: lighter;
}
.imshirt7 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 132%;
    font-weight: lighter;
}
.imshirt8 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 132%;
    font-weight: lighter;
}
.shopnew{
    height: 40px;
    width: 13%;
    background-color: black;
    margin: auto;
    line-height: 40px;
    transition: 0.4s;
    text-align: center;
    color: black;
    border: 1px solid black;
}
.shopnew a{
    text-decoration: none;
    font-size: 20px; 
    color: #D6FF38;
}
.shopnew:hover{
    background-color: #D6FF38;
}
.shopnew:hover a{
  color:  #0e0e0e;
}
.off{
    height: 700px;
    width: 100%;
    margin-top: 2%;
    display: flex;
}
.discount{
    height: 700px;
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(203, 249, 1, 0.949));
    position: relative;
}
.content{
    height: 400px;
    width: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}
.discount .content i{
    font-size: 60px;
    margin-left:45% ;
}
.banner{
    height: 700px;
    width: 40%;
    background-image: url(images/bannet.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.discount  h4{
    font-size: 18px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10%;
}
.discount  h1{
    font-size: 120px;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.discount h3 {
    font-size: 18px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* margin-top: -0%; */
}
.footer{
   
    height: 280PX;
    width: 100%;
    background-color: #d6ff38;
    display: flex;
}
.get h1{
    font-size: 40px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    height: 280px;
    width: 30%;
    background-color: rgb(13, 13, 13);
}
.aboutus{
    height: 280px;
    width: 70%;
    background-color: white;
    border: 1px solid black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;  
}
.aboutus a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.about h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;
    color: rgb(251, 249, 249);
    text-align: left;
    margin-left: 33%;
}
 .about h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: left;
    margin-left: 33%;
}
.wix{
    height: 70px;
    width: 100%;
    background-color: #0a0a0a;
    display: flex;
}
.wix .logo{
    height: 70px;
    width: 30%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 65px;
}
.wix .logo i{
    font-size: 25px;
}
.wix .wi{
    height: 70px;
    width: 70%;
    margin-top: 0%;
    float: right;
    border: 1px solid black;
}
.wi h2{
    height:70px;
    width: 100%;
    align-items: center;
    line-height: 60px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #d6ff38 ;
    float: right;  
    margin-top: 0%; 
}
/*  -----------page2----------------------------------- */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.home{
    height: 30px;
    width: 95%;
    /* background-color: #D6FF38; */
    margin:auto ;
    margin-top: 1%;
    align-items: center;
}
.home a{
    font-size:20px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
}
.home i{
    font-size: 22px;
    text-align: center;   
}
.men{
    height: 220px;
    width: 100%;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 3%;
    display: flex;
}


.rcm{
    height: 20px;
    width: 75%;
    /* background-color: #d6ff38; */
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.rcm a{
   text-decoration: none;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

.men  h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; 
    font-family: Arial, Helvetica, sans-serif; 
}

.con{
    height:480px;
    width: 80%;
    /* background-color: yellow; */
    margin: auto;   
}
.con h2{
    font-size: 40px;
    margin-left: 113%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.brs{
    height: 490px;
    width: 20%;
    /* background-color: rgb(151, 197, 113); */
}
.brs h1{
    font-size: 30px;
    font-weight: lighter;
}
.con a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.ts{
    height: 800px;
    width: 75%;
    margin-left: 20%;
    /* background-color: #d6ff38;    */
}
.imshirt1-1 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160%;
    font-weight: lighter;
}
.imshirt2-2 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160%;
    font-weight: lighter;
}
.imshirt3-3 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160%;
    font-weight: lighter;
}
.imshirt4-4 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160%;
    font-weight: lighter;
}

.imshirt1-1{
    height: 300px;
    width: 21%;
    background-image: url('images/t1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt2-2{
    height: 300px;
    width: 21%;
    background-image: url('images/t2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt3-3{
    height: 300px;
    width: 21%;
    background-image: url('images/t3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt4-4{
    height: 300px;
    width: 21%;
    background-image: url('images/t4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imshirt5-5 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 151%;
    font-weight: lighter;
}
.imshirt6-6 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 168%;
    font-weight: lighter;
}
.imshirt7-7 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 168%;
    font-weight: lighter;
}
.imshirt8-8 h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 168%;
    font-weight: lighter;
}
.imshirt5-5{
    height: 320px;
    width: 21%;
    background-image: url('images/n5.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.imshirt5-5 .d-2{
    width: 30%;
    height: 10%;
    background-color: #0a0a0a;
    color: #D6FF38;
}
.imshirt5-5 .d-2 h1{
    font-size: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: #D6FF38;
    background-color: #0a0a0a;
    padding:5px 20px;
}
.imshirt2-2{
    background-image: url('images/n2.webp');
}
.imshirt3-3{
    background-image: url('images/n3.webp');
}
.imshirt4-4{
    background-image: url('images/n4.webp');
}
.imshirt6-6{
    height: 320px;
    width: 21%;
    background-image: url('images/n5.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('images/n6.webp');
}.imshirt7-7{
    height: 320px;
    width: 21%;
    background-image: url('images/n7.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('images/n8.webp');
}.imshirt8-8{
    height: 320px;
    width: 21%;
    background-image: url('images/n5.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('images/n4.webp');
}

